<!-- ===== art.html ===== -->
{% extends "base.html" %}
{% block title %}Paintings & Sketches - MK Barriault{% endblock %}
{% block content %}
<h1>Drawings</h1>
<!-- <h5>A showcase of my artwork and sketches. I love exploring various mediums and styles.</h5> -->

<div class="portfolio-grid">

    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchLain.JPEG" alt="INTO THE WIRE">
    </div>
    <div class="portfolio-card-body">
        <h3>INTO THE WIRE</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
        <p>Inspired by Serial Experiments Lain</p>
        <form method="POST" action="{{ url_for('add_to_cart') }}">
            <input type="hidden" name="item_name" value="INTO THE WIRE">
            <input type="hidden" name="item_price" value="10.00">
            <input type="hidden" name="item_image" value="/static/images/art/SketchLain.JPEG"">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </div>
</div>


<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchCyborg.JPEG" alt="TIME IS UP">
    </div>
    <div class="portfolio-card-body">
        <h3>TIME IS UP</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
        <p>Inspired by Time Is Up by Poppy.</p>
        <form method="POST" action="{{ url_for('add_to_cart') }}">
            <input type="hidden" name="item_name" value="TIME'S UP">
            <input type="hidden" name="item_price" value="10.00">
            <input type="hidden" name="item_image" value="/static/images/art/SketchCyborg.JPEG"">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </div>
</div>



<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/Sam.jpg" alt="ALL COLORS SAM">
    </div>
    <div class="portfolio-card-body">
        <h3>SAM THE SANDOWN CLOWN</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
        <p>This 7ft tall, wooden robot-alien-clown was spotted by two children in the 70's in Sandown, Isle of Wight after they heard intense wailing.  Even though he was holding a mic, Sam communicated with written notes and telepathy and called itself "All Colors Sam".</p>
        <form method="POST" action="{{ url_for('add_to_cart') }}">
            <input type="hidden" name="item_name" value="SAM THE SANDOWN CLOWN">
            <input type="hidden" name="item_price" value="10.00">
            <input type="hidden" name="item_image" value="/static/images/art/Sam.jpg"">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </div>
</div>    


</div>
{% endblock %}