<!-- ===== art.html ===== -->
{% extends "base.html" %}
{% block title %}Paintings & Sketches - MK Barriault{% endblock %}
{% block content %}
<h1>Paintings & Sketches</h1>
<h5>A showcase of my artwork and sketches. I love exploring various mediums and styles.</h5>

<div class="portfolio-grid">
    
<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchLain.JPEG" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>INTO THE WIRE</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchEyes.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>HEAD IN THE CLOUDS</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
    </div>
</div>
    

    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchCyborg.jpeg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>TIME'S UP</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/PaintingEgg.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>EGG</h3>
        <p><strong>Painting</strong> </p>
        <p><strong>Print Price:</strong> $10.00</p>
        <p>It's just an egg in a pan.</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchEthreal.JPG" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>PHANTOM</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/SketchStar.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>AGENT 00-KAWAII</h3>
        <p><strong>Color Pencil Drawing</strong></p>
        <p><strong>Print Price:</strong> $10.00</p>
    </div>
</div>>
    


</div>
{% endblock %}