<!-- ===== coding.html ===== -->
{% extends "base.html" %}
{% block title %}Coding Portfolio - MK Barriault{% endblock %}
{% block content %}
<h1>Coding Portfolio</h1>
<!-- <h5>Here are some of my Python and coding projects.</h5> -->

<div class="portfolio-grid">

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/tech/mole.PNG" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>COMPLAINCE MOLE</h3>
        <p><strong>Language:</strong> Python</p>
        <p><strong>Topic</strong> Data Analysis</p>
    </div>
</div>



<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/tech/cafe.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>Shrodinger's Cat Cafe</h3>
        <p><strong>Language:</strong> Python</p>
        <p><strong>Topic:</strong> Regression</p>
    </div>
</div>


<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/tech/trinkets.png" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>TRINKETS</h3>
        <p><strong>Language:</strong> Python</p>
        <p><strong>Topic:</strong> XaaS Management</p>
    </div>
</div>


<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/tech/delta.png" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>MK:delta</h3>
        <p><strong>Language:</strong> Python</p>
        <p><strong>Topic:</strong> License Agreement True-Up Pricing</p>
    </div>
</div>








</div>
{% endblock %}
