<!-- ===== jewelry.html ===== -->
{% extends "base.html" %}
{% block title %}Jewelry Designs - MK Barriault{% endblock %}
{% block content %}
<h1>Jewelry Designs</h1>

<!-- <h5>Explore my handmade jewelry creations. Each piece is unique and crafted with care.</h5>-->

<div class="portfolio-grid">
    
<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/JewelryBeigeLightning2.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>ROLL FOR FASHION</h3>
        <p><strong>Materials:</strong> Beads, D20 Dice, Lightning Charm, Pearls</p>
        <p><strong>Price:</strong> $30.00</p>
        <p>Unique. Nerdy. Iconic.</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/JewelryAlien.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>BRACELET-51</h3>
        <p><strong>Materials:</strong> Glass Beads, D20 Dice, Foam Clay, </p>
        <p><strong>Price:</strong> $30.00</p>
        <p>An out-of-this-world set of UAP-inspired bracelets.</p>
    </div>
</div>
    

<div class="portfolio-card">
    <div class="portfolio-card-img">
        <img src="/static/images/art/JewelryBlueLolli2.jpg" alt="TEST">
    </div>
    <div class="portfolio-card-body">
        <h3>CANDY LAND</h3>
        <p><strong>Materials:</strong> Glass Beads</p>
        <p><strong>Price:</strong> $15.00</p>
        <p>Perfect set for anyone with a sweet tooth!</p>
    </div>
</div>
    


    




    

    


</div>
{% endblock %}