{% extends "base.html" %}
{% block title %}Resume - MK Barriault{% endblock %}
{% block content %}
<h1>Resume</h1>

<div class="text-center mb-4">
    <a href="{{ url_for('static', filename='resume/ResumeDownload.pdf') }}" download="MK_Barriault_Resume.pdf" class="btn btn-primary">
        📄 Download PDF Resume
    </a>
    <br><br><a href="{{ url_for('static', filename='resume/ResumeDownload.pdf') }}" target="_blank" class="btn btn-success">
        👁️ View PDF
    </a>
</div>

<div class="about-section">

    
    <div class="summary-section text-center mb-4"> <!-- PROFESSIONAL SUMMARY ON TOP -->
        <h4>Summary</h4>
            <p>I’m super passionate about <strong>process improvement, problem solving, coding, and creating </strong>elegant, usable solutions that make complex operations run effortlessly. I love transforming real-world challenges into smart, scalable tools — blending technical creativity with operational precision.
            <br><br>With deep hands-on experience managing <strong>>Cisco XaaS and SMARTnet lifecycles</strong> across both distributor and reseller environments, I bridge the gap between complex subscription programs and day-to-day execution. I’ve led <strong>onboarding, renewals, true-ups, deal registration, and partner enablement</strong> at scale—coordinating OEMs, distributors, vendors, partners, and end customers to keep everything aligned and efficient.
            <br><br><strong>Self-taught in coding,</strong> I’ve translated my operational background into <strong>automation and analytics</strong> — building Python and Excel solutions that make quoting, reporting, and fulfillment faster, more accurate, and easier to scale.
            <br><br>Hover over each item below to see more!
        </p>
    </div>

    <div class="resume-grid"> <!-- GRID FOR TOOL TIPS -->
        <div class="resume-item"
             data-bs-toggle="tooltip" 
             data-bs-html="true"
             data-bs-placement="auto"
             title="<div class='tooltip-title'>WHAT I BRING TO THE TABLE</div>
                    <div class='tooltip-body'>
                        <br>• Subscription and XaaS Operations — Practical lifecycle management for Cisco portfolios across distributor and VAR channels
                        <br>• Cross Functional Collaboration — Extensive experience partnering with Sales, IT, Finance, Engineering, distributors, OEMs, and end customers
                        <br>• Pre Sales Technical Support — Quoting, deal registration, RFQ response, and partner enablement for complex technical programs
                        <br>• Customer Lifecycle Management and Leadership — Renewals, onboarding, true ups, and leading enablement efforts for internal teams and external partners
                        <br>• Coding - Automation & Data Work / API Integration / self taught coding projects to build data analysis tools and prototype ML models for forecasting and risk detection / Web Development and hobbyist game development projects for creative practice and rapid prototyping
                        <br>•Training and Enablement — Designed internal / partner-facing self serve guides and recurring trainings that enable others to succeed

                    </div>">
            <h4>🔎 Highlights</h4>
        </div>
        
        
        <div class="resume-item"
             data-bs-toggle="tooltip" 
             data-bs-html="true"
             data-bs-placement="auto"
             title="<div class='tooltip-title'>EDUCATION</div>
                    <div class='tooltip-body'>• B.S. in Industrial and Systems Engineering (2011–2015)</div>">
            <h4>🎓 Education</h4>
        </div>

        <div class="resume-item"
             data-bs-toggle="tooltip" 
             data-bs-html="true"
             data-bs-placement="auto"
             title="<div class='tooltip-title'>CERTIFICATES</div>
                    <div class='tooltip-body'>• Cisco Black Belt: Distribution Success Stage 1</div>">
            <h4>🏅 Certificates</h4>
        </div>
        
        <div class="resume-item"
             data-bs-toggle="tooltip"
             data-bs-html="true" 
             data-bs-placement="auto"
             title="<div class='tooltip-title'>SKILLS & CAPABILITIES</div>
                    <div class='tooltip-body'>• Process Development, Documentation, and Improvement
                        <br>• Data Analysis & Visualization
                        <br>• Managing long-term client relationships
                        <br>• Operatinal Process Improvement
                        <br>• Onsite client visits
                        <br>• Visual Basic (Microsoft Excel)
                        <br>• Python (pandas, Matplotlib, scikit-learn, tkinter, numpy, seaborn)
                        <br>• Website & e-commerce Storefront Creation (Python, Flask, Javascript, Bootstrap, Lightbox, HTML, CSS)
                        <br>• Subscription Management (Renewals, Modifications, True Ups)
                        <br>• Cross-Functional Ops
                        <br>• Enablement & Training
                        <br>• Customer Experience Lifecycle Management
                        <br>• API Integration
                        <br>• PostgreSQL
                        <br>• Cisco Channel Sales Tools: CCW, PXP, DPV, Smart Accounts, Software Central, DevNet; SEWP V/GSA workflows
                        <br>• Microsoft Office Suite, CRM, ERP, and channel quoting tools</div>">
            <h4>⚙️ Skills & Capabilities</h4>
        </div>
    </div>



    <div class="summary-section text-center mb-4"> <!-- PROFESSIONAL SUMMARY ON TOP -->
        <h4>Work Experience</h4>
            <p>I’m super passionate about <strong>process improvement, problem solving, coding, and creating </strong>elegant, usable solutions that make complex operations run effortlessly. I love transforming real-world challenges into smart, scalable tools — blending technical creativity with operational precision.
            </p>
    </div>



    <div class="resume-grid">

        <div class="resume-item"
             data-bs-toggle="tooltip" 
             data-bs-html="true"
             data-bs-placement="auto"
             title="<div class='tooltip-title'>SMARTnet and Subscriptions Senior Specialist</div>
                    <div class='tooltip-body'>
                    • SMARTnet and Subscriptions Senior Specialist - D&H Distributing, Harrisburg, PA (Aug 2022 – Jun 2025)<br>
                    </div>">
                    <h4>💼 SMARTnet and Subscriptions Senior Specialist</h4>
        </div>

        <div class="resume-item"
             data-bs-toggle="tooltip" 
             data-bs-html="true"
             data-bs-placement="auto"
             title="<div class='tooltip-title'>Corporate / Healthcare Account Manager</div>
                    <div class='tooltip-body'>
                    <br>Southern Computer Warehouse 
                    <br>Marietta, GA 
                    <br>(Mar 2016 – Aug 2022)
                    </div>">
                    <h4>💼 Corporate / Healthcare Account Manager</h4>
        </div>

    </div>


</div>

<!-- TOOL TIPS -->
<script>
document.addEventListener('DOMContentLoaded', function() { 
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, {
            html: true
        });
    });
});
</script>
{% endblock %}
